<div class="">
  <div class="well small merge-bottom">
    <%= link_to(("<i class='icon-plus-sign icon-white'></i>" + " Add policy").html_safe, "", :class => "pull-right btn btn-warning")%>
    <h4 class="header pull-left">Policies up for renewal in two months &nbsp;</h4> <%= link_to(" - View all", policies_path, :class => "pull-left")%>
  </div>

  <table class="table table-striped table-bordered  attach-top">
    <%= render :partial => "policies/policies"%>
  </table>
</div>

<div class="">
  <div class="well small merge-bottom">
    <h4 class="header pull-left">Pending claims for more than 6 months &nbsp;</h4> <%= link_to(" - View all", claims_path, :class => "pull-left")%>
  </div>

  <table class="table table-striped table-bordered attach-top">
    <%= render :partial => "claims/claims", :locals => {:open => true}%>
  </table>
</div>